<aside>
	<div class="panel radius">
		<h3>Ni Estas:</h3>
		<p>
			La Esperanto-Klubo de Norda Teksaso - grupo da amikoj kiu parolas esperanton.  Ni loĝas en la norda sekcio de la usona ŝtato de teksaso.  Ni kunvenas monate.  Kunvenu kun ni.

		</p>
	</div>

	<a href="https://esperanto-usa.org/" target="blank">
		<img class="b30" src="/images/EO-USA.jpg" alt="Visit Esperanto-USA.org">
	</a>

	<div class="border-dotted radius b30">
		<a href="https://uea.org/" target="blank">
		  <img class="b30" src="/images/UEA.png" alt="Universala Esperanto Associo (UEA)">
		</a>
	</div>
</aside>